{% extends 'users/base.html' %}

{% block head_content %}
    <title>MinInstagram Sign in</title>
{% endblock %}

{% block container %}

    {%  if error %}
        <p class="alert alert-dark">{{ error }}</p>

    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" name="username" />
    </div>
    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="password" />
    </div>


    <button class="btn-dark btn-block mt-5" type="submit">Sign in</button>

    </form>

{% endblock %}